<ion-header>
  <ion-toolbar color="corlaranja">
    <ion-buttons slot="primary">
      <ion-button (click)="sair()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngIf="codeCriado">
    <ngx-qrcode [qrc-value]="codeCriado"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{codeCriado}}</p>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card *ngIf="codeEscaneado"> -->
  <ion-card *ngIf="codeEscaneado">
    <ion-card-content>
      <div>
        <h1>Olá, {{usuario.nome}}</h1>
        <h2>{{curso.nomeTurma}}</h2>
        <h2>Aula de {{dadosDisciplina.disciplina}}</h2>
        <h2>Professor(a): {{dadosDisciplina.professor}}</h2>
      </div>
      <!-- Resultado: {{codeEscaneado}} -->
      <ion-grid>
        <ion-row style="margin-left: 20%;">
          <ion-col>

            <ion-fab-button (click)="gostou()" color="success">
              <ion-icon name="thumbs-up"></ion-icon>
            </ion-fab-button>

          </ion-col>
          <ion-col>

            <ion-fab-button (click)="deslike()" color="danger">
              <ion-icon name="thumbs-down"></ion-icon>
            </ion-fab-button>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>

</ion-content>
<ion-footer style="position: none;">
  <ion-button style="margin-left: 20%" class="btn" color="corazul" shape="round" (click)="scanCode()">
    Scanear Código
    <ion-icon slot="end" name="qr-scanner"></ion-icon>
  </ion-button>
</ion-footer>