<ion-content class="swiper-no-swiping">
  <div class="container top" [hidden]="keyboard.isVisible">
    <img src="/assets/imgs/logo.png">
  </div>

  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()" color="light" expand="block">
          Entrar
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="ocean" style="background-color: corlaranja;">


    <div class="container bottom ion-text-center" [hidden]="keyboard.isVisible">
      <span>Uniq Faculdade de Quixeramobim - Todos os direitos reservados 2019</span>
    </div>
  </div>
</ion-content>