<ion-split-pane>

  <ion-menu side="start" menuId="custom" content-id="main-content">
    <ion-header>
      <ion-toolbar color="corazul">
        <ion-title color="light">Administrador</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
              {{ p.title }}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content" main></ion-router-outlet>
</ion-split-pane>