<ion-header>
    <ion-toolbar color="corlaranja">
      <ion-buttons slot="primary">
        <ion-button (click)="sair()">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title color="light">Relatórios</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="openCustom()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card *ngIf="dados"> 
      <ion-card-header>
        <h1>Turma Informática</h1>
      </ion-card-header>
      <ion-card-content>
        <h3>Quantidade de avaliações: {{dados.length}}</h3>
        <h3>Gostaram: 2</h3>
        <h3>Não Gostaram: 1</h3>
        <h3>Professor(a): Eduardo Campos</h3>
        <google-chart [data]="pieChart"></google-chart>
      </ion-card-content>
    </ion-card>
  </ion-content>