<ion-content>
  <div class="container top" style="margin-top: 30px;">
    <img src="/assets/imgs/logo.png">
  </div>
  
    <ion-grid style="margin-top: 50px;">

      <ion-row style="margin-left: 30px;">
        <ion-col align-self-center>
          <ion-button size="large" (click)="telaAvDocente()">
            <img class="image-icon" src="/assets/icon/student.png">
          </ion-button>
          <p style="color: #000;">Avaliação Docente</p>
        </ion-col>

        <ion-col align-self-end>
          <ion-button size="large">
            <img class="image-icon" src="/assets/icon/support.png">
          </ion-button>
          <p style="color: #000;">Atendimento</p>
        </ion-col>
      </ion-row>

      <ion-row style="margin-left: 30px;">
        <ion-col align-self-start>
          <ion-button size="large">
            <img class="image-icon" src="/assets/icon/study.png">
          </ion-button>
          <p style="color: #000;">Corpo Técnico</p>
        </ion-col>

        <ion-col align-self-end>
          <ion-button size="large">
            <img class="image-icon" src="/assets/icon/school.png">
          </ion-button>
          <p style="color: #000;">Infraestrutura</p>
        </ion-col>
      </ion-row>

    </ion-grid>

</ion-content>