.container {
  left: 0;
  right: 0;
  width: 75%;
  margin: 0 auto;
  z-index: 2;

  &.top {
      top: 5%;
  }

  &.bottom {
      bottom: 30%;

      span {
          color: #fff;
      }
  }
}

ion-button{
  width: 100px;
  height: 100px;
  margin-left: 12px;
}

// .image-icon {
//   width: 25px;
//   height: 25px;
//   color: #d7d8da;
// }

// ion-tab-bar, ion-tab-button{
//   background-color: #45a5b3;
//   color: #d7d8da;
//  }