<ion-header>
  <ion-toolbar color="corlaranja">
    <ion-buttons slot="primary">
      <ion-button (click)="sair()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Início</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openCustom()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-input type="text" placeholder="Meu QR" [(ngModel)]="qrData">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Nome da turma" [(ngModel)]="dadosTurma.nome">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Qual é a sala?" [(ngModel)]="dadosTurma.sala">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input (click)="calendarioInicio()" placeholder="Qual o início do semestre?" *ngIf="!dataSemestreInicio"
          [readonly]="true"></ion-input>
        <ion-input (click)="calendarioInicio()" placeholder="{{dataSemestreInicio}}" *ngIf="dataSemestreInicio"
          [readonly]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input (click)="calendarioFim()" placeholder="Qual Fim do semestre?" *ngIf="!dataSemestreFim"
          [readonly]="true"></ion-input>
        <ion-input (click)="calendarioInicio()" placeholder="{{dataSemestreFim}}" *ngIf="dataSemestreFim"
          [readonly]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input (click)="relogioInicio()" *ngIf="!horaInicio" placeholder="Defina o Início da aula" [readonly]="true">
        </ion-input>
        <ion-input (click)="relogioInicio()" placeholder="{{horaInicio}}" *ngIf="horaInicio" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input (click)="relogioFim()" *ngIf="!horaFim" placeholder="Defina o final da aula" [readonly]="true">
        </ion-input>
        <ion-input (click)="relogioFim()" placeholder="{{horaFim}}" *ngIf="horaFim" [readonly]="true"></ion-input>
      </ion-item>

    </ion-card-header>
    <ion-card-content style="display: inline-flex;">
      <ion-segment [(ngModel)]="qrData">
        <ion-segment-button value="canvas">
        </ion-segment-button>
      </ion-segment>

      <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="qrData"></ngx-qrcode>
    </ion-card-content>
    <ion-grid>
      <ion-row *ngIf="qrData">
        <ion-col>
          <ion-button (click)="downloadQR()" color="corazul">
            <ion-icon color="light" name="barcode"></ion-icon>&nbsp;&nbsp;
            <p style="color: blanchedalmond;">Baixar QRCODE</p>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="salvar()" color="corazul">
            <ion-icon color="light" name="save"></ion-icon>&nbsp;&nbsp;
            <p style="color: blanchedalmond;">Salvar</p>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>